.news {
    display: grid;
    gap: 20px;
    row-gap: 30px;
    justify-content: space-between;
    margin: 20px 20px 0;
}

@media (min-width:450px) {
    .news {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width:450px) {
    .news {
        grid-template-columns: repeat(1, auto);
    }
}
